<phpunit>
	<testsuites>
		<testsuite name="Peep Tester">
			<file>UserProfileTest.php</file>
			<file>BirdSpeciesTest.php</file>
			<file>TestSighting.php</file>
			<file>FavoriteTest.php</file>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">..</directory>
		</whitelist>
	</filter>
</phpunit>